:root {
      --bg-color: #121212;
      --text-color: #e0e0e0;
      --container-bg-color: #1e1e1e;
      --heading-color: #ffffff;
      --link-color: #3b87e0;
      --link-hover-color: #007bff;
      --border-color: #333;
      --button-bg-color: #006adb;
      --button-hover-bg-color: #0056b3;
      --button-active-bg-color: #004085;
      --shadow-color: rgba(0, 0, 0, 0.7);
}

* {
      box-sizing: border-box;
}

body {
      background-color: var(--bg-color);
      color: var(--text-color);
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
}

.container {
      max-width: 800px;
      padding: 20px;
      background-color: var(--container-bg-color);
      border-radius: 8px;
      box-shadow: 0 0 10px var(--shadow-color);
      margin: auto;
}

h1,
h2,
h3 {
      color: var(--heading-color);
}

a {
      color: var(--link-color);
      text-decoration: none;
}

a:hover {
      text-decoration: underline;
}

.main-nav {
      padding: 1em;
      border-bottom: 1px solid var(--border-color);
}

.main-nav ul {
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 0;
      margin: 0;
}

.main-nav ul li {
      margin: 0;
}

.main-nav a {
      text-decoration: none;
      color: var(--link-hover-color);
}

.main-nav a:hover {
      text-decoration: underline;
}

hr {
      border: none;
      height: 1px;
      background-color: var(--border-color);
      margin: 20px 0;
}

ul {
      padding: 0 30px;
}

header {
      margin-top: 15px;
}

.contacts__list {
      list-style-type: none;
}

ul li {
      margin-bottom: 8px;
}

.footer__logo {
      height: 5vh;
      pointer-events: none;
}

.profile__footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 10vh;
}

#download-pdf {
      background-color: var(--button-bg-color);
      color: var(--heading-color);
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
}

#download-pdf:hover {
      background-color: var(--button-hover-bg-color);
}

#download-pdf:active {
      background-color: var(--button-active-bg-color);
      transform: translateY(1px);
}
